<%- include("layout/header") %>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto mt-4">
        <div class="card shadow">
          <div class="card-header bg-success">
            <h3 class="text-white text-center">
              Update Product
            </h3>
          </div>
          <div class="card-body p-4 text-white">
            <form action="/update/<%= products._id %>" method="post" id="add-form" enctype="multipart/form-data">
              <div class="mb-3">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control form-control-lg" placeholder="Enter Name" required
                  minlength="5" maxlength="30" id="name" autocomplete="off" spellcheck="false"
                  value="<%= products.name %>">
              </div>
              <div class="mb-3">
                <label for="stock">Stock</label>
                <input type="number" name="stock" class="form-control form-control-lg" placeholder="Enter Stock"
                  required min="0" max="100" id="stock" autocomplete="off" value="<%= products.stock %>">
              </div>
              <div class="mb-3">
                <label for="price">Price</label>
                <input type="number" name="price" class="form-control form-control-lg" placeholder="Enter Price"
                  required min="1000" max="10000000" id="price" autocomplete="off" value="<%= products.price %>">
              </div>
              <div class="mb-3">
                <label for="image" class="form-label">Select Image</label>
                <input type="file" class="form-control form-control-lg" name="image" accept=".jpg, .png" id="image">
              </div>
              <input type="hidden" name="old_image" value="<%= products.image %>">
              <div class="mb-3 d-grid">
                <input type="submit" name="submit" value="Update Product" class="btn btn-success btn-lg">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("layout/footer") %>